@use 'variables' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-locale: auto;
}


html,
body {
    font-size: var(--pM);
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: var(--lineHeight);
    -webkit-font-smoothing: antialiased;

    @media (max-width: 767px) {
        background-color: var(--background-color);
    }
}

.pageWrapper{
    padding-bottom: 100px;
}

.authPage {
    min-height: calc(100vh - 152px);
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color);

    @media (min-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

svg {
    pointer-events: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

h1 {
    font-size: var(--h1);
    font-weight: 500;
    margin-bottom: var(--m25);
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    line-height: var(--lineHeight);
}


a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}


.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pL);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    line-height: var(--lineHeight);
    min-height: 200px;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pL);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    line-height: var(--lineHeight);
}