.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 15px 0;

  .container {
    margin: 0 auto;
    padding: 0 29px 0 20px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--m20);
    }

    .logoWrapper {
      padding: 4px 8px;
      display: inline-block;
      margin-bottom: 4px;
    }

    .tagline {
      font-size: var(--pL);
      color: var(--primary-color);
      font-family: 'Inter', sans-serif;
      line-height: var(--lineHeight);
    }

    .auth {
      display: flex;
      align-items: center;
    }

    .profile {
      display: flex;
      align-items: center;
      gap: var(--m20);

      font-size: var(--pL);
      color: var(--primary-color);
      font-family: 'Inter', sans-serif;
      line-height: var(--lineHeight);

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
        border: 1px solid var(--border-color);
      }
    }
  }
}