.avatar {
   position: relative;
  pointer-events: painted;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid var(--border-color);

  &.small {
    width: 50px;
    height: 50px;
  }

  &.big {
    width: 100px;
    height: 100px;
  }

  &.editable {
    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    .placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--primary-color);
      font-weight: 500;

      .placeholderIcon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;

  .placeholderIcon {
    opacity: 0;
    visibility: hidden;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all var(--trTime1) ease-in-out;
  }

  .small & {
    font-size: var(--pL);
  }

  .big & {
    font-size: var(--h1);
  }
}

.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;

  &.visible {
    opacity: 1;
  }
}