.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  
  &.small {
    width: 50px;
    height: 50px;
  }
  
  &.big {
    width: 100px;
    height: 100px;
  }
  
  &.editable {
    cursor: pointer;
  }
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  
  .small & {
    font-size: var(--pL);
  }
  
  .big & {
    font-size: var(--h1);
  }
}

.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  
  &.visible {
    opacity: 1;
  }
}

.fileInput {
  display: none;
}